<div class="flex items-center my-8 shadow-lg p-2">
    <img class="w-24" src={Routes.static_path(@socket, "/images/food.svg" )} alt="">
    <div class="flex-1 ml-4">
        <h1>Hamburguer</h1>
        <span>Big</span>
    </div>
    <span class="flex-1">1 Pcs</span>
    <span class="font-bold text-lg">$ 20</span>
</div>
