<div class="flex-shrink-0 p-3 w-80 bg-gray-100 rounded-md m-2" id="order-board-123">
    <h3 class="text-sm font-medium text-gray-900 uppercase" id="order-layer-title-1"><%= humanize(@id) %></h3>
    <ul class="mt-2">
        <%= for order <- @orders do %>
        <%= live_component card(), id: "card-board-#{order.id}", card: order, board: @id %>
        <% end %>
    </ul>
</div>
