<div>
    <%= live_patch to: Routes.admin_product_path(@socket, :index,
        page: @options.page,
        per_page: @options.per_page,
        sort_by: @sort_by,
        sort_order: @sort_order
        ),
        "data-role": "sort",
        "data-id": @sort_by
         do %>
    <div class="flex">
        <span class="pr-2"><%= humanize(@sort_by) %></span>
        <%= render FoodOrderWeb.IconView, @icon, %{color: @color} %>
    </div>
    <% end %>
</div>
