<div class="order container mx-auto w-1/2">
    <div class="flex items-center border-b border-gray-300 pb-4">
        cart-image-from-tailwind
        <h1 class="font-bold ml-4 text-2xl">Order Summary</h1>
    </div>

</div>
