<div class="h-screen flex pt-2">
    <%= live_component side_menu() %>
    <div class="flex-1 flex-col  min-w-0 bg-white">
        <%= live_component header_menu() %>
        <div class="flex-1 overflow-auto">
            <main class="p-3 flex">
                <%= live_component order_layer() %>
                <%= live_component order_layer() %>
                <%= live_component order_layer() %>
            </main>
        </div>
    </div>
</div>
