<section class="cart py-16">
    <%= if @order.total_qty == 0 do %>
    <%= live_component empty_cart() %>
    <% else %>
    <%= live_component order(), id: "orders", order: @order, cart_id: @cart_id %>
    <% end %>
</section>
